# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related                           rlogind
 fsck.cramfs                                       rm
 fsck.exfat                                        rmdir
 fsck.ext2                                         rmic
 fsck.ext3                                         rmid
 fsck.ext4                                         rmiregistry
 fsck.f2fs                                         rmmod
 fsck.fat                                          rnano
 fsck.jfs                                          roff2dvi
 fsck.minix                                        roff2html
 fsck.msdos                                        roff2pdf
 fsck.overlay                                      roff2ps
 fsck.reiserfs                                     roff2text
 fsck.vfat                                         roff2x
 fsck.xfs                                          rofiles-fuse
 fsfreeze                                          rootactions-servicemenu.pl
 fslight
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
